<h1>hello madtornado 模板引擎</h1>

<style>
    .box {
        border: 1px solid aqua;
    }
</style>

<div class="box">
    <div>
        <h1>默认全局转义</h1>
        <hr/>
    </div>
    <div>
        <h1>模板去转义</h1>
        {% autoescape None %}
        <hr/>
    </div>
    <div>
        <h1>局部去转义</h1>
        {% raw mirror_page %}
        <hr/>
    </div>
    <div>
        <h1>局部转义</h1>
        {{ escape(mirror_page) }}
        <hr/>
    </div>
</div>

<div class="box">
    <div>
        <h1>自定义方法</h1>
        {{ hello_method() }}
        <hr/>
    </div>
    <div>
        <h1>自定义模块</h1>
        {% module hello_module() %}
        <hr/>
    </div>
</div>

<div class="box">
    <div>
        <h1>{{ mirror_page }}</h1>
        {% set variable=0 %}
        {{ variable }}
        {{ variable=variable+1 }}
        <hr/>
    </div>

    {#<div>#}
    {#   <h1>注释</h1>#}
    {#</div>#}

    <div>
        <h1>更好的使用函数apply</h1>
        {% apply hello_func %}
        message:hello world
        {% end %}
        <hr/>
    </div>
</div>

<div class="box">
    <div>
        <h1>循环</h1>
        {% for i in range(5) %}
        <span>message:{{ i }}</span>
        {% end %}
        <hr/>
    </div>

    <div>
        <h1>引入模块</h1>
        {% from math import pi %}
        pi的值是：{{ pi }}
        <hr/>
    </div>

    <div>
        <h1>条件语句</h1>
        {% if 1!=1 %}
        pi的值是：{{ pi }}
        {% else %}
        1=1
        {% end %}
        <hr/>
    </div>

    <div>
        <h1>渲染模板</h1>
        {% module Template("play/temp.html", arg=42) %}
        {#{% whitespace single %}#}
        <hr/>
    </div>
</div>